<div class="activities">
  <div class="container-center">
    <div class="super-padding">
      <h2>Actividades</h2>
    </div>
  </div>
</div>

<div class="container-center overlay">
  <section class="row">
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img
          class="card-img"
          src="assets/images/paseo-caballo.jpg"
          alt="Paseo a caballo"
        />
        <h4 class="card-title">EXCURSIONES GUIADAS</h4>
        <p class="card-text">
          Explora la belleza natural de las Montañas de Prades.
        </p>
        <a class="card-more" href="https://sanabriacaballo.com/" target="_blank"
          >Más información</a
        >
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img
          class="card-img"
          src="assets/images/chicovistas.jpg"
          alt="Lago de Sanabria"
        />
        <h4 class="card-title">VISITA MONTSERRAT Y BARCELONA</h4>
        <p class="card-text">
          Proporcionamos transporte a Montserrat y Barcelona
        </p>
        <a
          class="card-more"
          href="https://goo.gl/maps/cq6Z9GjnQyGkCu8e7"
          target="_blank"
          >Más información</a
        >
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img
          class="card-img"
          src="assets/images/multiaventura.jpg"
          alt="Multiaventura"
        />
        <h4 class="card-title">ALQUILER DE BICICLETAS DE MONTAÑA</h4>
        <p class="card-text">
          Experimenta la emoción y la aventura en las carreteras de Prades
        </p>
        <a
          class="card-more"
          href="https://goo.gl/maps/t4kg9DrgY8WaFoHm7"
          target="_blank"
          >Más información</a
        >
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img
          class="card-img"
          src="assets/images/gastronomia.jpg"
          alt="Gastronomía"
        />
        <h4 class="card-title">GASTRONOMÍA LOCAL</h4>
        <p class="card-text">
          Deléitate con la deliciosa gastronomía catalana.
        </p>
        <a
          class="card-more"
          href="https://www.laposadadelapuebladesanabria.com/"
          target="_blank"
          >Más información</a
        >
      </div>
    </div>
  </section>
</div>
