<div class="activities">
  <div class="container-center">
    <div class="super-padding">
      <h2>Actividades en Sanabria</h2>
    </div>
  </div>
</div>

<div class="container-center overlay">
  <section class="row">
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/paseo-caballo.jpg" alt="Paseo a caballo">
        <h4 class="card-title">PASEO A CABALLO</h4>
        <p class="card-text">Explora la belleza natural de Sanabria a caballo los emocionantes paseos a caballo.</p>
        <a class="card-more" href="https://sanabriacaballo.com/" target="_blank">Más información</a>
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/chicovistas.jpg" alt="Lago de Sanabria">
        <h4 class="card-title">VISITA AL LAGO DE SANABRIA</h4>
        <p class="card-text">Descubre el majestuoso Lago de Sanabria y disfruta de un día junto a sus aguas cristalinas.</p>
        <a class="card-more" href="https://goo.gl/maps/cq6Z9GjnQyGkCu8e7" target="_blank">Más información</a>
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/multiaventura.jpg" alt="Multiaventura">
        <h4 class="card-title">MULTIAVENTURA CON TIROLINAS</h4>
        <p class="card-text">Experimenta la emoción y la aventura con actividades de multiaventura en Vigo de Sanabria.</p>
        <a class="card-more" href="https://goo.gl/maps/t4kg9DrgY8WaFoHm7" target="_blank">Más información</a>
      </div>
    </div>
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/gastronomia.jpg" alt="Gastronomía">
        <h4 class="card-title">GASTRONOMÍA LOCAL</h4>
        <p class="card-text">Deléitate con la deliciosa gastronomía local de Sanabria en los mejores restaurantes de la región.</p>
        <a class="card-more" href="https://www.laposadadelapuebladesanabria.com/" target="_blank">Más información</a>
      </div>
    </div>
  </section>
</div>
