.activities {
	background-color: #a79770;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/images/meeting.jpg");
	background-position: 50% 36.38%;
	background-size: cover;
	margin-top: 0;
	margin-bottom: 0;
	min-height: 450px;
	color: #fff;
}

.overlay {
	margin-top: -250px;
	padding: 50px;
}

.super-padding {
	padding: 65px 30px 30px;
	max-width: 100%;
}

.card {
	background-color: #fff;
	border: 2px solid #a79770;
	border-radius: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.card-img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.card-title {
	font-size: 1.125rem;
	margin-bottom: 20px;
}

.card-text {
	font-size: 1.125rem;
	margin: 0;
	color: #000;
	font-style: italic;
	margin-bottom: 20px;
}

.card-more {
	color: #a79770;
	font-size: 0.875rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

.card-img {
	width: 350px;
	/* Adjust the width as per your preference */
	height: 200px;
	/* Adjust the height as per your preference */
	object-fit: cover;
}