<div class="gallery">
  <h2>Gallery</h2>
  <h1>Galería</h1>
  <div class="photos-container">
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0029.jpg" alt="Photo 2" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0064.jpg" alt="Photo 3" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0069.jpg" alt="Photo 4" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0073.jpg" alt="Photo 5" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0079.jpg" alt="Photo 6" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0085.jpg" alt="Photo 7" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0091.jpg" alt="Photo 9" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0096.jpg" alt="Photo 10" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0101.jpg" alt="Photo 11" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0114.jpg" alt="Photo 12" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0117.jpg" alt="Photo 13" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0118.jpg" alt="Photo 14" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0121.jpg" alt="Photo 15" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0130.jpg" alt="Photo 17" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0133.jpg" alt="Photo 18" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0138.jpg" alt="Photo 20" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0139.jpg" alt="Photo 21" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0141.jpg" alt="Photo 22" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0146.jpg" alt="Photo 23" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0152.jpg" alt="Photo 24" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0156.jpg" alt="Photo 25" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0159.jpg" alt="Photo 26" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0161.jpg" alt="Photo 27" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0169.jpg" alt="Photo 28" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0171.jpg" alt="Photo 29" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0181.jpg" alt="Photo 30" />
    </div>
  </div>
</div>
