.gallery {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.75rem;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2);
    margin: 55px auto 0;
    text-align: center;
    font-family: "Arial", sans-serif;
}

.photos-container {
    margin: 75px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.photo:hover {
    transform: scale(1.17);
}

.photo img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: 4px solid #ffffff;
}

.photo:hover img {
    border-color: rgba(255, 255, 255, 0);
}

.photo img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: 4px solid #ffffff;
}

@media (max-width: 768px) {
    .photos-container {
        justify-content: center;
    }

    .photo {
        width: calc(50% - 20px);
    }

    .photo img {
        height: 200px;
    }
}