<div class="gallery">
  <h2>Gallery</h2>
  <h1>Galería</h1>
  <div class="photos-container">
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0069.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG-20240228-WA0133.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302164944.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302164721.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302164540.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302164515.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302172748.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302172739.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302172731.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170422.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170409.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170343.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170229.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170149.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170138.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170126.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170111.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302170057.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165915.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165830.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165655.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165633.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165625.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165529.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165526.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165431.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165421.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165416.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165358.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/IMG20200302165350.jpg" alt="Photo" />
    </div>
    <div class="photo">
      <img src="../../assets/images/coffe.jpg" alt="Photo" />
    </div>
  </div>
</div>
