<div class="contact">
  <div class="container-center">
    <section class="row justify-content-between align-items-center">
      <div class="left text-start col-md-6 col-sm-12 mb-4">
        <!-- Your contact information -->
      </div>
      <div class="right text-start ps-3 col-md-6 col-sm-12">
        <form action="https://formsubmit.co/marcavp23@gmail.com" method="POST">
          <div class="input-group">
            <label for="name" class="text-input">Nombre y apellidos</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              [(ngModel)]="name"
            />
          </div>
          <div class="input-group">
            <label for="email" class="text-input">Correo electrónico</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              [(ngModel)]="email"
            />
          </div>
          <div class="input-group">
            <label for="message" class="text-input">Mensaje</label>
            <textarea
              rows="6"
              id="message"
              name="message"
              [(ngModel)]="message"
              required
            ></textarea>
          </div>
          <div *ngIf="showMessage" class="mb-3">
            {{ messageText }}
          </div>
          <button type="submit" class="btn-big" aria-label="Enviar">
            Enviar
          </button>
        </form>
      </div>
    </section>
    <div class="wrapp-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d891.7909792048005!2d1.0870780803131783!3d41.251935926711425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a152e64215bbd3%3A0x5efb101588cb4027!2s43479%20L&#39;Albiol%2C%20Tarragona!5e0!3m2!1ses!2ses!4v1707701225198!5m2!1ses!2ses"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
