.contact {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/images/couple.jpg');
	background-position: 50% 50%;
	background-size: cover;
	color: #fff;
}

@media screen and (max-width: 1122px) {
	.contact {
		background-size: cover;
		background-repeat: no-repeat;
	}
}

p {
	letter-spacing: 2px;
	margin: 32px 0 32px 0;
	line-height: 1.8;
}

.error {
	color: red;
}

.left a {
	text-decoration: none;
	color: #fff;
}

.text-input {
	letter-spacing: 2px;
	font-size: 1.25rem;
	line-height: 1.8;
	font-family: 'Lato', sans-serif;
	margin-bottom: 8px;
}

.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

input {
	height: 50px;
	border: none;
	outline: none;
}

textarea {
	outline: none;
}

input:focus,
textarea:focus {
	border: 3px solid #a79770;
}

.wrapp-map iframe {
	margin-top: 30px;
	width: 100%;
	height: 350px;
}