<div class="services-list">
  <h1>Servicios Disponibles</h1>
  <h3>
    La reserva de la casa a través de Airbnb y para el resto de servicios
    contactar por whatsapp o teléfono.
  </h3>
  <div class="service-row" *ngFor="let service of services">
    <div class="service-item" *ngFor="let item of service">
      <img [src]="item.image" alt="Service Image" />
      <div class="service-details">
        <h4>{{ item.name }}</h4>
        <p>{{ item.description }}</p>
        <p>Precio: {{ item.price }}</p>
      </div>
      <h5>* Actividad para un máximo de 6 personas</h5>
    </div>
  </div>
</div>
