/* Service-list */
.services-list {
    max-width: 1200px;
    margin: 20px auto 0;
    /* Adjust top margin */
    padding-top: 20px;
}

h1 {
    font-size: 3.75rem;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2);
    margin: 55px auto 0;
}

.service-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service-item {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
}

.service-details {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}