<div class="gallery">
  <div class="container-center">
    <h1>Encuentra tu próximo refugio</h1>
    <p class="text-header">
      Explora nuestra encantadora casa de alquiler en l'Albiol, donde la
      comodidad y la naturaleza se unen para brindarte una experiencia
      inolvidable.
    </p>
    <section class="row-card">
      <!----------- CARD 1 ------------>
      <photo-card
        [title]="'VISTAS GUIADAS'"
        [content]="'Disfruta de impresionantes degustaciones y catas.'"
        [images]="[
          '../../assets/images/vistas1.jpg',
          '../../assets/images/vistas2.jpg'
        ]"
      >
      </photo-card>
      <!----------- CARD 2 ------------>
      <photo-card
        [title]="'COMODIDADES MODERNAS'"
        [content]="'Nuestra casa está equipada con todas las comodidades.'"
        [images]="[
          '../../assets/images/comedor.jpg',
          '../../assets/images/cocina.jpg'
        ]"
      >
      </photo-card>
      <!----------- CARD 3 ------------>
      <photo-card
        [title]="'NATURALEZA A TU PUERTA'"
        [content]="'Sal a explorar la belleza natural que rodea nuestra casa.'"
        [images]="[
          '../../assets/images/lago.jpg',
          '../../assets/images/cascada.jpg'
        ]"
      >
      </photo-card>
      <!----------- CARD 4 ------------>
      <photo-card
        [title]="'DESCUBRE LA CULTURA'"
        [content]="'Sumérgete en la rica cultura de la zona.'"
        [images]="[
          '../../assets/images/callepuebla.jpg',
          '../../assets/images/casaluz.jpg'
        ]"
      >
      </photo-card>
      <!----------- CARD 5 ------------>
      <photo-card
        [title]="'DESCUBRE BARCELONA'"
        [content]="'Te llevamos a conocer Barcelona y Montserrat.'"
        [images]="[
          '../../assets/images/habitacion1.jpg',
          '../../assets/images/habitacion2.jpg',
          '../../assets/images/baño1.jpg',
          '../../assets/images/ducha.jpg'
        ]"
      >
      </photo-card>
      <!----------- CARD 6 ------------>
      <photo-card
        *ngIf="!localBooking"
        [title]="'RESERVA TU ESTANCIA'"
        [content]="'¡Haz tu reserva ahora y experimenta la magia de Prades'"
        [images]="['../../assets/images/airbnb.jpg']"
        [isSpecial]="true"
        [specialLink]="
          'https://www.airbnb.es/rooms/945766271880521378?guests=1&adults=1&s=67&unique_share_id=5c02826d-96e3-4941-9fd2-463ae68d8f51'
        "
      >
      </photo-card>
      <photo-card
        *ngIf="localBooking"
        [title]="'RESERVA TU ESTANCIA'"
        [content]="
          '¡Haz tu reserva ahora y experimenta la magia de Puebla de Sanabria!'
        "
        [images]="['../../assets/images/booknow.jpeg']"
        [webBooking]="true"
      >
      </photo-card>
    </section>
  </div>
</div>
