<div class="services">
  <div class="container-center pt-0">
    <div class="row text-start justify-content-center">
      <section class="left col-md-5 col-sm-10">
        <h3>Servicios disponibles:</h3>
        <ul class="custom-list">
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Cocina
            totalmente equipada
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Lavadora
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Televisión
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Secador de
            pelo
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Zona para
            trabajar
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i>
            Aparcamiento gratuito
          </li>
        </ul>
        <button
          *ngIf="localBooking"
          class="btn-medium mb-5"
          aria-label="Reserva ahora"
          (click)="scrollTo('booking')"
        >
          Reserva ahora
        </button>
        <button
          *ngIf="!localBooking"
          class="btn-medium mb-5"
          aria-label="Reserva ahora"
          (click)="openLinkInNewTab()"
        >
          Reserva ahora
        </button>
      </section>
      <section class="right col-md-5 col-sm-10">
        <h3>Explora la zona:</h3>
        <ul class="custom-list">
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Senderismo
            por las Montañas de Prades
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Degustación
            de la gastronomía local
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Visita a
            los encantadores pueblos locales
          </li>
        </ul>
        <h3 class="mt-5">Para tu aventura:</h3>
        <ul class="custom-list">
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Alquiler de
            bicicletas de montaña
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Información
            sobre rutas de senderismo
          </li>
          <li>
            <i class="fa-solid fa-check" aria-label="Checkmark"></i> Excursiones
            guiadas disponibles
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
