<div class="testimonials">
  <div class="container-center">
    <h2>Testimonios de nuestros huéspedes</h2>
    <section class="row">
      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div
          class="rounded-image img1 col-md-6 col-sm-12"
          aria-hidden="true"
        ></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Mariana Rodríguez</h5>
          <p>
            "Pasamos un fin de semana espectacular. La ubicación es ideal para
            explorar la zona y la casa tenía todas las comodidades que
            necesitábamos. ¡Muy recomendado!"
          </p>
        </div>
      </div>
      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div
          class="rounded-image img2 col-md-6 col-sm-12"
          aria-hidden="true"
        ></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Andrea Martínez</h5>
          <p>
            "Mi estancia fue increíble. La tranquilidad del pueblo y la
            comodidad de la casa hicieron que mi escapada fuera perfecta.
            ¡Definitivamente volveré!"
          </p>
        </div>
      </div>
      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Laura Sánchez</h5>
          <p>
            "La casa superó todas nuestras expectativas. Disfrutamos de la
            tranquilidad del entorno y la belleza natural. Definitivamente un
            lugar para relajarse y desconectar."
          </p>
        </div>
        <div
          class="rounded-image img3 col-md-6 col-sm-12"
          aria-hidden="true"
        ></div>
      </div>
      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Carlos Pérez</h5>
          <p>
            "Nuestra visita al lago de Siurana fue inolvidable. Alquilamos
            kayaks y exploramos el impresionante lago. ¡Una experiencia que
            nunca olvidaremos!"
          </p>
        </div>
        <div
          class="rounded-image img4 col-md-6 col-sm-12"
          aria-hidden="true"
        ></div>
      </div>
    </section>
  </div>
</div>
