.content {
	margin: 60px;
}

.row {
	justify-content: space-between;
}

.opinion {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.opinion-text {
	text-align: start;
}

.rounded-image {
	width: 238px;
	height: 238px;
	background-color: #a79770;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}

@media screen and (max-width: 1112px) {
	.rounded-image {
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 980px) {
	.rounded-image {
		width: 180px;
		height: 180px;
	}
}

@media screen and (max-width: 768px) {
	.rounded-image {
		width: 438px;
		height: 438px;
	}

	.opinion {
		flex-direction: column;
		justify-content: center;
	}

	.reverse {
		flex-direction: column-reverse;
	}

	.opinion-text {
		margin: 30px 0;
	}
}

@media screen and (max-width: 576px) {
	.rounded-image {
		width: 180px;
		height: 180px;
	}
}

.img1 {
	background-image: url("../../assets/images/girsltent.jpg");
}

.img2 {
	background-image: url("../../assets/images/backpack.jpg");
}

.img3 {
	background-image: url("../../assets/images/girltravel.jpg");
}

.img4 {
	background-image: url("../../assets/images/tent2.jpg");
}
