@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@700&display=swap');

.no-margin {
	margin: 0;
}

/********** FONTS ***********/
h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	line-height: 1.1;
}

h1 {
	font-size: 3.75rem;
	text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2);
	margin: 23px auto 0;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.875rem;
	line-height: 1.2;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
	line-height: 1.2;
	letter-spacing: 2px;
	margin: 0;
}

p {
	font-size: 1.25rem;
	line-height: 1.6;
	font-family: 'Lato', sans-serif;
}

.text-header {
	margin: 30px auto 50px;
}

/********* SECTIONS *********/
#about,
#gallery,
#activities,
#services,
#contact,
#booking {
	scroll-margin-top: 75px;
}

.container-center {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding: 60px 50px;
	text-align: center;
}

.text-header {
	padding: 0 180px;
}

@media screen and (max-width: 1160px) {
	.text-header {
		padding: 0 100px;
	}
}

@media screen and (max-width: 980px) {
	.text-header {
		padding: 0 50px;
	}
}

.row {
	justify-content: center;
	margin-top: 50px;
	flex-wrap: wrap;
}

/********* BUTTONS *********/
.btn-super-small,
.btn-small,
.btn-medium,
.btn-big {
	background-color: #a79770;
	border-radius: 30px;
	padding: 1em 2em;
	text-transform: uppercase;
	color: white;
	font-size: 1em;
	font-weight: 600;
	border: 2px solid #a79770;
}

.btn-super-small {
	padding: 0.5em 1em;
	font-size: 0.8em;
	letter-spacing: 1.5px;
}

.btn-small {
	padding: 1em 2em;
	font-size: 1em;
	letter-spacing: 2px;
}

.btn-medium {
	letter-spacing: 1px;
	padding: 13px 53px 14px 52px;
}

.btn-big {
	letter-spacing: 2px;
	padding: 13px 53px 14px 52px;
	width: 100%;
}

.btn-super-small:hover,
.btn-small:hover,
.btn-medium:hover,
.btn-big:hover {
	cursor: pointer;
	background-color: #988862;
	border-color: #988862;
}

.btn-white,
.btn-black {
	background-color: transparent;
	border-radius: 30px;
	padding: 1em 2em;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 2px;
	font-weight: 600;
}

.btn-white {
	color: white;
	border: 2px solid #fff;
}

.btn-white:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
}

.btn-black {
	color: #000;
	border: 2px solid #000;
}

.btn-black:hover {
	cursor: pointer;
	background-color: #000;
	color: #fff;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}