<div class="home">
  <div class="container-center">
    <h1>L'Albiol Jepeto</h1>
    <p class="text-header">
      Descubre la escapada perfecta en el corazón de las montañas de Prades,
      donde el encanto rústico se encuentra con la comodidad moderna.
    </p>
    <div class="row-buttons-container">
      <div class="pe-2 ps-4 mb-3 m-0">
        <button
          *ngIf="localBooking"
          class="btn-small"
          aria-label="Reserva ahora"
          (click)="scrollTo('booking')"
        >
          Reserva ahora
        </button>
        <button
          *ngIf="!localBooking"
          class="btn-small"
          aria-label="Reserva ahora"
          (click)="openLinkInNewTab()"
        >
          Reserva ahora
        </button>
      </div>
      <div class="ps-2 m-0">
        <button
          class="btn-white"
          aria-label="Más información"
          (click)="scrollTo('gallery')"
        >
          Más información
        </button>
      </div>
    </div>
    <div class="row">
      <div class="card-holder col-lg-3 col-md-5 col-sm-5">
        <div class="card">
          <img
            class="card-img"
            src="assets/images/trecking.png"
            alt="Trekking"
          />
          <h4 class="card-text">Trekking</h4>
        </div>
      </div>
      <div class="card-holder col-lg-3 col-md-5 col-sm-5">
        <div class="card">
          <img
            class="card-img"
            src="assets/images/tent-draw.png"
            alt="Camping"
          />
          <h4 class="card-text">Naturaleza</h4>
        </div>
      </div>
      <div class="card-holder col-lg-3 col-md-5 col-sm-5">
        <div class="card">
          <img
            class="card-img"
            src="assets/images/tipi.png"
            alt="Beach Tents"
          />
          <h4 class="card-text">Comodidad</h4>
        </div>
      </div>
      <div class="card-holder col-lg-3 col-md-5 col-sm-5">
        <div class="card">
          <img
            class="card-img"
            src="assets/images/fire.png"
            alt="News and Events"
          />
          <h4 class="card-text">Actividades</h4>
        </div>
      </div>
    </div>
  </div>
</div>
